<html>
    <head></head>
    <body>
        <div>
            
            <form action="/user/add" method="post">
            <h1>Enter Your Details here to add in user Data</h1>
                <label for="fullname">Name:</label>
                <div>
                    <input type="text" id="fullname" name="fullname"/>
                </div>
                <label for="email">Email:</label>
                <div>
                    <input type="text" id="email" name="email"/>
                </div>
                <label for="city">City:</label>
                <div>
                    <input type="text" id="City" name="City"/>
                </div>
                <label for="Age">Age:</label>
                <div>
                    <input type="number" id="age" name="age"/>
                </div>
                <label for="profession">Profession:</label>
                <div>
                    <input type="text" id="profession" name="profession"/>
                </div>
                <div>
                <button type="submit">submit</button>
                </div>
            </form>
            </div>
    </body>
</html>